.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: rgb(34, 40, 49);
  color: #fff;
}

.header nav a {
  color: #fff;
  margin-left: 16px;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header nav a:hover {
  text-decoration:solid;
  color: rgb(223, 208, 184);
}